# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run2
run-data
src.zip
hs_err_*.log
replay_*.log

# Files from Forge MDK
forge*changelog.txt
